.App {
  margin: 0px 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center
}

p {
  margin: 0px;
}

h1 {
  margin: 10px 0px;
  text-align: center;
  border-bottom: 2px solid green;
  padding-bottom: 8px;
}
.title {
  width: 100%;
  font-size: 68px;
  margin-top: 15px;
}

.Product {
  margin-top: 10px;
  text-align: center;
  align-items: center;
}

.Product p {
  display: inline-block;
  width: 100px;
}

button {
  height: 25px;
  border: 1px solid black;
  background: white;
}

.ProductList, .Cart {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 50px;
  padding: 20px;
  background: #333;
  color: white;
  border: 1px solid black;
  box-shadow: 0px 2px 2px 1px #333;
}

.ProductList p, .Cart p {
  margin: 15px 0px;
}

h1 {
  font-size: 42px;
  font-weight: normal;
}

.total {
  font-size: 26px;
  text-align: right;

}

@media only screen and (max-width: 800px) {
  .ProductList, .Cart {
    width: 100%;
  }
}