.App {
  margin: 0px 20px;
  font-family: 'Roboto', sans-serif;

}

p {
  margin: 0px;
}

h1 {
  margin: 30px 0px;
}
.title {
  width: 100%;
  font-size: 68px;
  margin-top: 15px;
}

.Product {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.Product p {
  display: inline-block;
  width: 100px;
}

button {
  height: 25px;
}

.ProductList, .Cart {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.ProductList p, .Cart p {
  margin: 15px 0px;
}

h1 {
  font-size: 42px;
  font-weight: normal;
}

.total {
  font-size: 26px;
}

@media only screen and (max-width: 800px) {
  .ProductList, .Cart {
    width: 100%;
  }
}